body {
	font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;
	margin:10px 0;
	background-color: #202020;
}
.main-head {
	text-align: left;
	font-size: 1.2em;
	color: #fff;
	padding:10px;
}

.main-nav {
	background-color: #cc171d;
	padding:10px 0;
	color: #fff;
}

.main-nav ul {
	
} 